
.header{
    margin: 0px 10px;
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    gap:500px;
    box-sizing: border-box;
}
img{
    height:100px;
}
li{
    list-style-type: none; 
    font-size: 20px;
}
a{
    text-decoration: none;
    gap: 20px;
    color:#e5e7eb;
}
ul{
    display: flex;
    gap: 60px;
}
.container{
    margin: 0px 10px;
    height: 300px;
    padding: 0px 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #1F2937;
 
}
.div3{
 display: flex;
 flex: 1 0 300px;
 flex-wrap: wrap;

}
.image{
    height:250px;
    width:500px;
}
.para{
    font-size: 18px;
    color: white;
    text-align:left;
}
.button{
    margin-left:200px;
}
.container2{
    margin: 0px 10px;
    padding: 0px 60px;
    display: flex;
    flex-direction: row;
    height: 370px;
    background-color: #3882F6;
    justify-content: space-evenly;
    align-items: center;
    color:white;

}
.item{
    margin: 20px;
}
.item1{
    flex:1;
    height: 250px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back{
      height: 200px;
      width: 300px;
}
.item2{
    flex:1;
    height: 250px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item3{
    flex:1;
    height: 250px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item4{
    flex:1;
    height: 250px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container3{
    margin: 0px 9px;
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:25px;
    font-style: italics;
}
.text{
    height: 200px;
    margin: 0 200px;
}
.t{
    text-align: right;
}
.container4{
    margin: 0px 9px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itm{
    display: flex;
    align-items: center;
    background-color: #3882F6;
    color: white;
    font-size: 20px;
    gap:300px;
    padding: 20px;

}
.itm button{
    height: 30px;
    width: 70px;
    margin-right: 20px;
    background-color: #3882F6;
    border:2px solid white;
}
.footer{
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot{

    width:auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: white;
}
